.alert {
  color: red;
  position: absolute;
  bottom: 0;
  left: 50px;
  font-size: 12px;
  font-weight: 700;
}

.linkContainer {
  margin-top: 5px;
  text-align: center;
}

.link {
  font-size: 14px;
  line-height: 25px;
  color: rgb(155, 155, 155);
}

.link * {
  color: mediumaquamarine;
  text-decoration: underline;
  cursor: pointer;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: blueviolet; */
}

/* ============================================================================= */
.loginArea {
  position: relative;
  width: 465px;
  height: 100px;
  /* background-color: bisque; */
}
/* ============================================================================= */
.idContainer {
  position: absolute; /* 임시 */
  /* position: relative; 임시 */
  top: 0;
  left: 0;
  width: 465px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.idTitle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 5px;
  width: 450px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  transition: 0.5s;
  color: mediumaquamarine;
  backface-visibility: hidden;
}
.idOutLine {
  position: relative;
  width: 385px;
  height: 45px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  backface-visibility: hidden;
  transition: 0.51s;
}
.idInputContainer {
  z-index: 3;
  position: absolute;
  top: 26px;
  left: 0;
  width: 100%;
}
.idInput {
  width: 369px;
  height: 30px;
  color: mediumaquamarine;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid mediumaquamarine;
  /* border: 1px solid red; */
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  box-sizing: border-box;
  font-family: PixelCaps;
  padding: 5px 10px 0 10px;
  line-height: 30px;
  position: absolute;
  top: 16.5px;
  left: 48px;
  backface-visibility: hidden;
  transition: 0.51s;
}
.idBlock1 {
  position: absolute;
  top: 12px;
  left: -110%;
  width: 100%;
  height: 40px;
  background-color: black;
  /* background-color: purple; */
  animation: move-left 2s;
}
.idBlock2 {
  position: absolute;
  top: 33px;
  left: 110%;
  width: 105%;
  height: 50px;
  background-color: black;
  /* background-color: greenyellow; */
  animation: move-right 2s;
}

/* ============================================================================= */
.pwContainer {
  position: absolute; /* 임시 */
  /* position: relative; 임시 */
  top: 0;
  left: 0;
  width: 465px;
  height: 100px;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pwTitle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 5px;
  width: 450px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  transition: 0.51s;
  color: mediumaquamarine;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.pwOutLine {
  position: relative;
  width: 385px;
  height: 45px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  transition: 0.51s;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.pwInputContainer {
  z-index: 3;
  position: absolute;
  top: 26px;
  left: 0;
  width: 100%;
}
.pwInput {
  width: 369px;
  height: 30px;
  color: mediumaquamarine;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid mediumaquamarine;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  box-sizing: border-box;
  font-family: PixelCaps;
  padding: 5px 10px 0 10px;
  line-height: 30px;
  position: absolute;
  top: 16.5px;
  left: 48px;
  transition: 0.5s;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
}
.pwBlock1 {
  position: absolute;
  top: 12px;
  left: -110%;
  width: 100%;
  height: 40px;
  background-color: black;
  /* background-color: purple; */
  animation: move-left 2s;
}
.pwBlock2 {
  position: absolute;
  top: 33px;
  left: 110%;
  width: 105%;
  height: 50px;
  background-color: black;
  /* background-color: greenyellow; */
  animation: move-right 2s;
}
/* ============================================================================= */
/* .GrantText {
  position: absolute;
  opacity: 1;
  letter-spacing: 5px;
} */
/* ============================================================================= */
/* .WelcomeText {
  position: absolute;
  opacity: 0;
} */
/* ============================================================================= */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* @keyframes fade-in-out-access {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
} */

@keyframes move-left {
  from {
    left: -5%;
  }
  50% {
    left: -5%;
  }
  to {
    left: -110%;
  }
}

@keyframes move-right {
  from {
    left: -5%;
  }
  50% {
    left: -5%;
  }
  to {
    left: 110%;
  }
}
/* ===================================================================== */
.existingIdType1ForId {
  transform: rotateY(180deg);
}

.existingIdType2ForId {
  transform: perspective(300px) rotateY(180deg);
}

.existingIdType3ForId {
  transform: perspective(300px) rotateY(-180deg);
}

/* ======================================================================= */
.existingIdType1ForPw {
  transform: rotateY(360deg);
}

.existingIdType2ForPw {
  transform: perspective(300px) rotateY(359.99deg); /* 360으로 하면 0과 같이서 같은 방향으로 돈다. */
}

.existingIdType3ForPw {
  transform: perspective(300px) rotateY(0deg);
}

/* ============================================================================= */
.rightPwTpye1ForLogin {
  animation: fade-out 0.5s forwards;
}

/* ============================================================================= */

/* glitch effect ======================================================== */
.logoArea {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: fade-in-out 5s; */
  /* opacity: 0; */
  opacity: 1;
  /* background-color: red; */
  margin-bottom: 50px;
}

@keyframes fade-in-out {
  from {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.box {
  text-align: center;
  width: 800px;
}

.logoArea .text {
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 45px;
  transform: scale(2);
  padding: 30px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 0 5px mediumaquamarine, 0 0 25px mediumaquamarine,
    0 0 50px mediumaquamarine, 0 0 50px mediumaquamarine;
}
.logoArea .text:before,
.logoArea .text:after {
  padding: 39px 0; /* 효과 상하 안 맞을 때 이거 수정 */
  color: white;
  content: "RE:LOADING";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  top: 0;
}
.logoArea .text:before {
  left: 3px;
  /* text-shadow: -2px 0 red; */
  animation: glitch-1 2s linear infinite reverse;
  /* text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4; */
}

.logoArea .text:after {
  left: -3px;
  /* text-shadow: -2px 0 blue; */
  animation: glitch-1 2s linear infinite reverse;
  /* text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4; */
}

.logoArea .subText {
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 10px;
  transform: scale(2);
  /* padding: 10px; */
  letter-spacing: 2px;
  /* text-shadow: 0 0 5px mediumaquamarine, 0 0 10px mediumaquamarine,
    0 0 00px mediumaquamarine, 0 0 100px mediumaquamarine; */
}

.logoArea .subText span {
  color: mediumaquamarine;
  text-shadow: 0 0 5px mediumaquamarine, 0 0 10px mediumaquamarine,
    0 0 00px mediumaquamarine, 0 0 100px mediumaquamarine;
}

.confirmId {
  display: none;
}

.confirmPw {
  display: none;
}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  /*스타일입력*/
  /* grid-template-columns: repeat(auto-fit, minmax(285px, 1fr)); */
}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  /*스타일입력*/
  .logoArea {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: fade-in-out 5s; */
    /* opacity: 0; */
    opacity: 1;
    /* background-color: red; */
    margin-bottom: 20px;
  }
  /* ================= */
  .box {
    /* text-align: center; */
    width: 400px;
  }

  .logoArea .text {
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    transform: scale(2);
  }
  .logoArea .text:before,
  .logoArea .text:after {
    padding: 34px 0; /* 효과 상하 안 맞을 때 이거 수정 */
    color: white;
    content: "RE:LOADING";
    position: absolute;
    width: 100%;
    height: 50%;
    background: black;
    overflow: hidden;
    top: 0;
  }
  .logoArea .text:before {
    left: 0.1px;
  }

  .logoArea .text:after {
    left: 0.1px;
  }

  .logoArea .text:before {
    left: 3px;
    /* text-shadow: -2px 0 red; */
    /* animation: glitch-3 2s linear infinite reverse; */
    animation: none;
    /* text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4; */
  }

  .logoArea .text:after {
    left: -3px;
    /* text-shadow: -2px 0 blue; */
    /* animation: glitch-4 2s linear infinite reverse; */
    animation: none;
    /* text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4; */
  }

  .logoArea .subText {
    margin-top: -20px;
    font-size: 10px;
    transform: scale(1);
  }
  .loginArea {
    transform: scale(0.6);
    margin-top: -20px;
    /* background-color: aliceblue; */
  }

  /* ====================================================================== */
  .confirmId {
    display: block;
    background: none;
    padding: 5px 10px;
    color: mediumaquamarine;
    border: 1px solid mediumaquamarine;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 30px;
    font-size: 10px;
  }

  .confirmId:hover {
    background-color: mediumaquamarine;
    color: #000000;
  }

  .confirmPw {
    display: block;
    background: none;
    padding: 5px 10px;
    color: mediumaquamarine;
    border: 1px solid mediumaquamarine;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 30px;
    font-size: 10px;
  }

  .confirmPw:hover {
    background-color: mediumaquamarine;
    color: #000000;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  /*스타일입력*/
  .logoArea {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: fade-in-out 5s; */
    /* opacity: 0; */
    opacity: 1;
    /* background-color: red; */
    margin-bottom: 20px;
  }
  /* ================= */
  .box {
    /* text-align: center; */
    width: 400px;
  }

  .logoArea .text {
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    transform: scale(2);
  }
  .logoArea .text:before,
  .logoArea .text:after {
    padding: 34px 0; /* 효과 상하 안 맞을 때 이거 수정 */
    color: white;
    content: "RE:LOADING";
    position: absolute;
    width: 100%;
    height: 50%;
    background: black;
    overflow: hidden;
    top: 0;
  }
  .logoArea .text:before {
    left: 0.1px;
  }

  .logoArea .text:after {
    left: 0.1px;
  }

  .logoArea .text:before {
    left: 3px;
    /* text-shadow: -2px 0 red; */
    /* animation: glitch-3 2s linear infinite reverse; */
    animation: none;
    /* text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4; */
  }

  .logoArea .text:after {
    left: -3px;
    /* text-shadow: -2px 0 blue; */
    /* animation: glitch-4 2s linear infinite reverse; */
    animation: none;
    /* text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4; */
  }

  .logoArea .subText {
    margin-top: -20px;
    font-size: 10px;
    transform: scale(1);
  }
  .loginArea {
    transform: scale(0.6);
    margin-top: -20px;
    /* background-color: aliceblue; */
  }

  /* ====================================================================== */
  .confirmId {
    display: block;
    background: none;
    padding: 5px 10px;
    color: mediumaquamarine;
    border: 1px solid mediumaquamarine;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 30px;
    font-size: 10px;
  }

  .confirmId:hover {
    background-color: mediumaquamarine;
    color: #000000;
  }

  .confirmPw {
    display: block;
    background: none;
    padding: 5px 10px;
    color: mediumaquamarine;
    border: 1px solid mediumaquamarine;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 30px;
    font-size: 10px;
  }

  .confirmPw:hover {
    background-color: mediumaquamarine;
    color: #000000;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  /*스타일입력*/
  .logoArea {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: fade-in-out 5s; */
    /* opacity: 0; */
    opacity: 1;
    /* background-color: red; */
    margin-bottom: 20px;
  }
  /* ================= */
  .box {
    /* text-align: center; */
    width: 400px;
  }

  .logoArea .text {
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    transform: scale(2);
  }
  .logoArea .text:before,
  .logoArea .text:after {
    padding: 34px 0; /* 효과 상하 안 맞을 때 이거 수정 */
    color: white;
    content: "RE:LOADING";
    position: absolute;
    width: 100%;
    height: 50%;
    background: black;
    overflow: hidden;
    top: 0;
  }
  .logoArea .text:before {
    left: 0.1px;
  }

  .logoArea .text:after {
    left: 0.1px;
  }

  .logoArea .text:before {
    left: 3px;
    /* text-shadow: -2px 0 red; */
    /* animation: glitch-3 2s linear infinite reverse; */
    animation: none;
    /* text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4; */
  }

  .logoArea .text:after {
    left: -3px;
    /* text-shadow: -2px 0 blue; */
    /* animation: glitch-4 2s linear infinite reverse; */
    animation: none;
    /* text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4; */
  }

  .logoArea .subText {
    margin-top: -20px;
    font-size: 10px;
    transform: scale(1);
  }
  .loginArea {
    transform: scale(0.6);
    margin-top: -20px;
    /* background-color: aliceblue; */
  }

  /* ====================================================================== */
  .confirmId {
    display: block;
    background: none;
    padding: 5px 10px;
    color: mediumaquamarine;
    border: 1px solid mediumaquamarine;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 30px;
    font-size: 10px;
  }

  .confirmId:hover {
    background-color: mediumaquamarine;
    color: #000000;
  }

  .confirmPw {
    display: block;
    background: none;
    padding: 5px 10px;
    color: mediumaquamarine;
    border: 1px solid mediumaquamarine;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 30px;
    font-size: 10px;
  }

  .confirmPw:hover {
    background-color: mediumaquamarine;
    color: #000000;
  }
}
/* ====================================================================== */
@keyframes glitch-1 {
  0% {
    clip: rect(132px, auto, 101px, 30px);
  }
  5% {
    clip: rect(17px, auto, 94px, 30px);
  }
  10% {
    clip: rect(40px, auto, 66px, 30px);
  }
  15% {
    clip: rect(87px, auto, 82px, 30px);
  }
  20% {
    clip: rect(137px, auto, 61px, 30px);
  }
  25% {
    clip: rect(34px, auto, 14px, 30px);
  }
  30% {
    clip: rect(133px, auto, 74px, 30px);
  }
  35% {
    clip: rect(76px, auto, 107px, 30px);
  }
  40% {
    clip: rect(59px, auto, 130px, 30px);
  }
  45% {
    clip: rect(29px, auto, 84px, 30px);
  }
  50% {
    clip: rect(22px, auto, 67px, 30px);
  }
  55% {
    clip: rect(67px, auto, 62px, 30px);
  }
  60% {
    clip: rect(10px, auto, 105px, 30px);
  }
  65% {
    clip: rect(78px, auto, 115px, 30px);
  }
  70% {
    clip: rect(105px, auto, 13px, 30px);
  }
  75% {
    clip: rect(15px, auto, 75px, 30px);
  }
  80% {
    clip: rect(66px, auto, 39px, 30px);
  }
  85% {
    clip: rect(133px, auto, 73px, 30px);
  }
  90% {
    clip: rect(36px, auto, 128px, 30px);
  }
  95% {
    clip: rect(68px, auto, 103px, 30px);
  }
  100% {
    clip: rect(14px, auto, 100px, 30px);
  }
}
@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 30px);
  }
  5% {
    clip: rect(36px, auto, 4px, 30px);
  }
  10% {
    clip: rect(85px, auto, 66px, 30px);
  }
  15% {
    clip: rect(91px, auto, 91px, 30px);
  }
  20% {
    clip: rect(148px, auto, 138px, 30px);
  }
  25% {
    clip: rect(38px, auto, 122px, 30px);
  }
  30% {
    clip: rect(69px, auto, 54px, 30px);
  }
  35% {
    clip: rect(98px, auto, 71px, 30px);
  }
  40% {
    clip: rect(146px, auto, 34px, 30px);
  }
  45% {
    clip: rect(134px, auto, 43px, 30px);
  }
  50% {
    clip: rect(102px, auto, 80px, 30px);
  }
  55% {
    clip: rect(119px, auto, 44px, 30px);
  }
  60% {
    clip: rect(106px, auto, 99px, 30px);
  }
  65% {
    clip: rect(141px, auto, 74px, 30px);
  }
  70% {
    clip: rect(20px, auto, 78px, 30px);
  }
  75% {
    clip: rect(133px, auto, 79px, 30px);
  }
  80% {
    clip: rect(78px, auto, 52px, 30px);
  }
  85% {
    clip: rect(35px, auto, 39px, 30px);
  }
  90% {
    clip: rect(67px, auto, 70px, 30px);
  }
  95% {
    clip: rect(71px, auto, 103px, 30px);
  }
  100% {
    clip: rect(83px, auto, 40px, 30px);
  }
}
@keyframes glitch-3 {
  0% {
    clip: rect(66px, auto, 50.5px, 7.5px);
  }
  5% {
    clip: rect(8.5px, auto, 47px, 3.75px);
  }
  10% {
    clip: rect(20px, auto, 33px, 3.75px);
  }
  15% {
    clip: rect(43.5px, auto, 41px, 3.75px);
  }
  20% {
    clip: rect(68.5px, auto, 30.5px, 3.75px);
  }
  25% {
    clip: rect(17px, auto, 7px, 3.75px);
  }
  30% {
    clip: rect(66.5px, auto, 37px, 3.75px);
  }
  35% {
    clip: rect(38px, auto, 53.5px, 3.75px);
  }
  40% {
    clip: rect(29.5px, auto, 65px, 3.75px);
  }
  45% {
    clip: rect(14.5px, auto, 42px, 3.75px);
  }
  50% {
    clip: rect(11px, auto, 33.5px, 3.75px);
  }
  55% {
    clip: rect(33.5px, auto, 31px, 3.75px);
  }
  60% {
    clip: rect(5px, auto, 52.5px, 3.75px);
  }
  65% {
    clip: rect(39px, auto, 57.5px, 3.75px);
  }
  70% {
    clip: rect(52.5px, auto, 6.5px, 3.75px);
  }
  75% {
    clip: rect(7.5px, auto, 37.5px, 3.75px);
  }
  80% {
    clip: rect(33px, auto, 19.5px, 3.75px);
  }
  85% {
    clip: rect(66.5px, auto, 36.5px, 3.75px);
  }
  90% {
    clip: rect(18px, auto, 64px, 3.75px);
  }
  95% {
    clip: rect(34px, auto, 51.5px, 3.75px);
  }
  100% {
    clip: rect(7px, auto, 50px, 3.75px);
  }
}
@keyframes glitch-4 {
  0% {
    clip: rect(64.5px, auto, 18px, 3.75px);
  }
  5% {
    clip: rect(18px, auto, 2px, 3.75px);
  }
  10% {
    clip: rect(42.5px, auto, 33px, 3.75px);
  }
  15% {
    clip: rect(45.5px, auto, 45.5px, 3.75px);
  }
  20% {
    clip: rect(74px, auto, 69px, 3.75px);
  }
  25% {
    clip: rect(19px, auto, 61px, 3.75px);
  }
  30% {
    clip: rect(34.5px, auto, 27px, 3.75px);
  }
  35% {
    clip: rect(49px, auto, 35.5px, 3.75px);
  }
  40% {
    clip: rect(73px, auto, 17px, 3.75px);
  }
  45% {
    clip: rect(67px, auto, 21.5px, 3.75px);
  }
  50% {
    clip: rect(51px, auto, 40px, 3.75px);
  }
  55% {
    clip: rect(59.5px, auto, 22px, 3.75px);
  }
  60% {
    clip: rect(53px, auto, 49.5px, 3.75px);
  }
  65% {
    clip: rect(70.5px, auto, 37px, 3.75px);
  }
  70% {
    clip: rect(10px, auto, 39px, 3.75px);
  }
  75% {
    clip: rect(66.5px, auto, 39.5px, 3.75px);
  }
  80% {
    clip: rect(39px, auto, 26px, 3.75px);
  }
  85% {
    clip: rect(17.5px, auto, 19.5px, 3.75px);
  }
  90% {
    clip: rect(33.5px, auto, 35px, 3.75px);
  }
  95% {
    clip: rect(35.5px, auto, 51.5px, 3.75px);
  }
  100% {
    clip: rect(41.5px, auto, 20px, 3.75px);
  }
}
