.mainContainer {
  width: 100%;
  height: 95%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.subContainer {
  width: 100%;
  height: 0%;
  border-radius: 15px;
  border: 1px solid mediumaquamarine;
  animation: boxExtend 0.5s forwards;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

@keyframes boxExtend {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.topArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  /* padding: 0 25px; */
  font-size: 40px;
}

.searchSection {
  width: 480px;
  height: 40px;
  display: flex;
}

.selectBox {
  margin-left: 20px;
}

.inputBox {
  width: 250px;
  border-radius: 10px 0 0 10px;
  border: none;
  font-size: 15px;
  padding: 0 20px;
  outline: none;
  background-color: #fff;
}

.inputBtn {
  width: 10%;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: mediumaquamarine;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  margin-right: 20px;
  padding-top: 4px;
}

.inner {
  /* background-color: red; */
  overflow-y: scroll;
  flex: 1;
}

.wholeContentsArea {
  position: relative;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  /* margin: 30px; */
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-template-rows: repeat(minmax(500px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  height: 100%;
  gap: 30px;
  padding: 20px;
}

.under5ea {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  gap: 30px;
  padding: 20px;
}

.emptyText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
  text-align: center;
  line-height: 40px;
}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  /*스타일입력*/
  /* grid-template-columns: repeat(auto-fit, minmax(285px, 1fr)); */
}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  /*스타일입력*/
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  /*스타일입력*/
  .mainContainer {
    padding: 10px;
  }

  .subContainer {
    padding: 10px 5px;
  }

  .topArea {
    flex-direction: column;
    align-items: start;
  }

  .searchSection {
    width: 100%;
  }

  .selectBox {
    margin-left: 20px;
  }

  .inputBox {
    width: 100%;
  }

  .inputBtn {
    width: 15%;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  /*스타일입력*/
  .mainContainer {
    padding: 10px;
  }

  .subContainer {
    padding: 10px 5px;
  }

  .topArea {
    flex-direction: column;
    align-items: start;
    padding: 0 10px;
  }

  .topArea > div {
    padding: 0;
  }

  .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .searchSection {
    width: 100%;
    height: 30px;
  }

  .inputBox {
    width: 100%;
    font-size: 15px;
    border-radius: 5px 0 0 5px;
    padding: 0 10px;
  }

  .inputBtn {
    font-size: 20px;
    line-height: 20px;
    width: 15%;
    border-radius: 0 5px 5px 0;
  }

  .selectBox {
    margin-left: 5px;
  }

  .wholeContentsArea {
    padding: 5px;
  }

  .emptyText {
    font-size: 10px;
  }
}
